<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JSanchezKranonEntities" connectionString="metadata=res://*/JSanchezKranon.csdl|res://*/JSanchezKranon.ssdl|res://*/JSanchezKranon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JSanchezKranon;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>